<div class="row">
  <a href="/regions/urban-sprawl">
    <div class="col-md-3 region-box">
      <img class="region-image" src="img/coyote_wall.jpg" alt="image of coyote wall">
      <h2>Portland</h2>
    </div>
  </a>
  <a href="#">
    <div class="col-md-3 region-box">
      <img class="region-image" src="img/coyote_wall.jpg" alt="image of coyote wall">
      <h2>Willamette Valley</h2>
    </div>
  </a>
  <a href="#">
    <div class="col-md-3 region-box">
      <img class="region-image" src="img/coyote_wall.jpg" alt="image of coyote wall">
      <h2>Oregon Coast</h2>
    </div>
  </a>
  <a href="#">
    <div class="col-md-3 region-box">
      <img class="region-image" src="img/coyote_wall.jpg" alt="image of coyote wall">
      <h2>Columbia River Gorge</h2>
    </div>
  </a>
</div>
<div class="row">
  <a href="/regions/urban-sprawl">
    <div class="col-md-3 region-box">
      <img class="region-image" src="img/coyote_wall.jpg" alt="image of coyote wall">
      <h2>Mount Hood</h2>
    </div>
  </a>
  <a href="#">
    <div class="col-md-3 region-box">
      <img class="region-image" src="img/coyote_wall.jpg" alt="image of coyote wall">
      <h2>Central Oregon</h2>
    </div>
  </a>
  <a href="#">
    <div class="col-md-3 region-box">
      <img class="region-image" src="img/coyote_wall.jpg" alt="image of coyote wall">
      <h2>Southern Oregon</h2>
    </div>
  </a>
  <a href="#">
    <div class="col-md-3 region-box">
      <img class="region-image" src="img/coyote_wall.jpg" alt="image of coyote wall">
      <h2>Eastern Oregon</h2>
    </div>
  </a>
</div>
