<div class="row region-row">
  <a href="/portland">
    <div class="col-md-3 region-box">
      <div id="portland" class="bg-image">
        <h2 class="region-text">Portland</h2>
      </div>
    </div>
  </a>
  <a href="/willamette-valley">
    <div class="col-md-3 region-box">
      <div id="willamette-valley" class="bg-image">
        <h2 class="region-text">Willamette Valley</h2>
      </div>
    </div>
  </a>
  <a href="/oregon-coast">
    <div class="col-md-3 region-box">
      <div id="oregon-coast" class="bg-image">
        <h2 class="region-text">Oregon Coast</h2>
      </div>
    </div>
  </a>
  <a href="/columbia-gorge">
    <div class="col-md-3 region-box">
      <div id="columbia-gorge" class="bg-image">
        <h2 class="region-text">Columbia Gorge</h2>
      </div>
    </div>
  </a>
  </div>
<div class="row region-row">
  <a href="/mount-hood">
    <div class="col-md-3 region-box">
      <div id="mount-hood" class="bg-image">
        <h2 class="region-text">Mount Hood</h2>
      </div>
    </div>
  </a>
  <a href="/central">
    <div class="col-md-3 region-box">
      <div id="central-oregon" class="bg-image">
        <h2 class="region-text">Central Oregon</h2>
      </div>
    </div>
  </a>
  <a href="/southern">
    <div class="col-md-3 region-box">
      <div id="southern-oregon" class="bg-image">
        <h2 class="region-text">Southern Oregon</h2>
      </div>
    </div>
  </a>
  <a href="/eastern">
    <div class="col-md-3 region-box">
      <div id="eastern-oregon" class="bg-image">
        <h2 class="region-text">Eastern Oregon</h2>
      </div>
    </div>
  </a>
</div>
