<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link  rel='stylesheet' href="/css/styles.css" >
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
  </head>
  <body>

    <div id="header">
      <a href="/"><!-- <h1>The Hike App</h1> <--><img src="../img/hike.png" id="logo"></a>
    </div>
    <div class="container" id="main">

      <%= yield %>
    </div>
    <div id="footer">
      <a href="/">Home</a> .
      <a href="/search">Search</a> .
      <a href="/features">Features</a> .
      <a href="/">Home</a> .
      <a href="/random">Random hike</a>
    </div>
  </body>
</html>
