<h1>Enter criteria to search Hikes</h1>


  <div class="search-group" id="search1">
    <form action="/search1">
      <div class="form-group">
        <label for="search1">Search Hike by Name:</label><br>
        <input class="form-control" type="text" name="search1">
        <br><button type="submit" class="btn btn-info">Search</button>
      </div>
    </form>
  </div>

  <div class="search-group" id="search2">
    <form action="/search2">
      <label for="search2">Show Hikes up to this Distance:</label><br>
      <input class="form-control" type="number" name="search2">
      <br><button type="submit" class="btn btn-info">Search</button>
    </form>
  </div>

  <div class="search-group" id="search3">
    <form action="/search3">
      <label for="search3">Show hikes with up to this much elevation change (in feet):</label><br>
      <input class="form-control" type="number" name="search3">
      <br><button type="submit" class="btn btn-info">Search</button>
    </form>
  </div>

  <div class="search-group" id="search4">
    <form action="/search4">
      <label for="search4">Difficulty:</label><br>
      <select name="search4">
        <option disabled selected value> -- select an option -- </option>
        <option value="Easy">Easy</option>
        <option value="Moderate">Moderate</option>
        <option value="Difficult">Difficult</option>
      </select>
      <br><button type="submit" class="btn btn-info">Search</button>
    </form>
  </div>

  <div class="search-group" id="search5">
    <form action="/search5">
        <label for="search5">Region:</label><br>
      <select name="search5">
        <option disabled selected value> -- select an option -- </option>
        <option value="Portland Area">Portland</option>
        <option value="Willamette Valley">Willamette Valley</option>
        <option value="Oregon Coast">Oregon Coast</option>
        <option value="Columbia River Gorge">Columbia River Gorge</option>
        <option value="Mount Hood">Mount Hood</option>
        <option value="Central Oregon">Central Oregon</option>
        <option value="Southern Oregon">Southern Oregon</option>
        <option value="Eastern Oregon">Eastern Oregon</option>
      </select>
      <br><button type="submit" class="btn btn-info">Search</button>
    </form>
  </div>

  <form action="search6" method="get">
    <% Feature.all.each do |feature|%>
      <label for="feature.name">
        <%="<input type='checkbox' name='features[]' value='#{feature.name}'>#{feature.name}"%>
      </label>
    <% end %>
    <br><button type="submit" class="btn btn-info">Search</button>
  </form>

  </div>
