<h1>Search</h1>

  <form class="region">
  <div class="search-group">
    <h2>Region</h2>
    <div class="form-group">
      <label class="radio-inline"><input type="radio" name="radio" value="Gorge" checked> All</label>
      <label class="radio-inline"><input type="radio" name="radio" value="Gorge" checked> Gorge</label>
      <label class="radio-inline"><input type="radio" name="radio" value="Coast"> Coast</label>
      <label class="radio-inline"><input type="radio" name="radio" value="Urban"> Urban</label>
      <label class="radio-inline"><input type="radio" name="radio" value="Tillamook"> Tillamook</label>
    </div>
  </div>
  <div class="search-group">
    <h3>Which features are you looking for?</h3>
    <div class="checkbox">
      <% Feature.all.each do |feature| %>
     <label class="check">
       <input type="checkbox" name="feature" value="<%= feature.id %>"><%= feature.name %>
     </label>
     <% end %>
    </div>
  </div>
  <div class="search-group">
    <div class="form-group">
      <label for="search">Hike Name:</label>
      <input class="form-control" type="text" name="search">
    </div>
  </div>
  <button type="submit" class="btn btn-lg btn-info">Search</button>
</form>
