h1 {
  font-family: 'Montserrat', sans-serif;
  color: #656565;
}

h2, h3, h4, h5 {
  font-family: 'News Cycle', sans-serif;
  color: #656565;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

#main {
  padding: 50px 0 150px 0;
}

/*HEADER STYLES*/

#logo {
  height: 250px;
  margin: 0 auto;
  display: block;
}

#header {
  padding: 75px 0 20px 0;
}

#header h1 {
  text-align: center;
  padding: 75px 0;
  color: #80a0bd;
  font-size: 70px;
  margin: 0;
}

/*FOOTER STYLES*/

#footer {
  padding: 15px 0;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #6687a5;
  text-align: center;
  color: white
}

#footer a {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding: 10px 30px;
}

/*INDEX STYLES*/

#portland {
  background-image: url("../img/portland.jpg");
}

#willamette-valley {
  background-image: url("../img/willamette-valley.jpg");
}

#oregon-coast {
  background-image: url("../img/oregon-coast.jpg");
}

#columbia-gorge {
  background-image: url("../img/coyote_wall.jpg");
}

#mount-hood {
  background-image: url("../img/mthood.jpg");
}

#central-oregon {
  background-image: url("../img/central-oregon.jpg");
}

#southern-oregon {
  background-image: url("../img/southern-oregon.jpg");
}

#eastern-oregon {
  background-image: url("../img/eastern-oregon.jpg");
}


.bg-image {
  background-image: url("../img/coyote_wall.jpg");
  border-radius: 75%;
  width: 220px;
  height: 220px;
  background-size: 220px;
  padding-top: 70px;
}

.region-text {
  background-color: #ffffff;
  padding: 10px 0;
}

.region-title {
  padding-bottom: 30px;

}

.region-image {
  width: 100%;
  border-radius: 75%;
  margin: 30px 0;
}

.region-box {
  padding: 0 40px;
  text-align: center;
}

.region-box h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #80a0bd;
}

.region-box p {
  color: #656565;
}

.region-box a {
  color: inherit;
}

.region-box h2:hover {
  color: #7895af;
}

.region-row {
  padding-bottom: 50px;
}

/*SEARCH STYLES*/

.region {
  font-size: 25px;
  font-family: 'News Cycle', sans-serif;
  color: #656565;
}

.region input[type="radio"] {
  margin-top: 11px;
  vertical-align: middle;
}

.region input[type="checkbox"] {
  margin-top: 8px;
  vertical-align: middle;
}

.check {
  font-size: 20px;
  padding: 0 20px;
}

.search-group {
  padding: 15px 0;
}

/*HIKE PAGE STYLES*/

.hike-image {
  display: block;
  width: 242px;
  height: 242px;
  background-repeat: no-repeat;
  border-radius: 75%;
  margin: 10px auto 30px auto;
}

.hike-details {
  color: #656565;
  font-size: 20px;
}

.hike-sidebar {
  border-right: 1px solid #eee;
  padding: 0 40px;
  text-align: center;
}

.hike-main {
  padding: 0 50px 200px 50px;
}

.hike-main h1 {
  margin: 0;
  padding-bottom: 10px;
}

.hike-main p, td {
  font-size: 18px;
  color: #656565;
}

.stats {
  font-weight: 200;
  color: #3d79af;
}

.hike-section {
  padding-bottom: 30px;
}

.disable-link a, .disable-link a:hover {
  pointer-events: none;
  cursor: default;
  color: inherit;
}

.day {
  font-family: 'Montserrat', sans-serif;
}

#map {
  height: 350px;
}

.feature {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px 10px 10px 0;
  background: #f5f5f5;
}

.feature p {
  margin: 0;
}
